.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  color: #333;
}

.input-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-group input {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-group button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.input-group button:hover {
  background-color: #0056b3;
}

.sorting-buttons {
  text-align: center;
  margin-bottom: 20px;
}

.sorting-buttons button {
  padding: 10px 15px;
  margin: 0 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.sorting-buttons button:hover {
  background-color: #218838;
}

.news-list {
  margin-top: 20px;
}

.news-item {
  border-bottom: 1px solid #232323;
  padding: 10px 0;
}

.news-item h3 {
  margin: 0 0 10px;
}

.no-results {
  text-align: center;
  color: #888;
}

.heading {
  padding: 20px 40px; /* Padding around the text */
  background-color: #ffffff67; /* White background */
  border: 1px solid rgba(0, 0, 0, 0.1); /* Slightly faded border */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  font-family: Arial, sans-serif; /* Optional: Change the font */
  font-size: 24px; /* Font size for the heading */
  color: #fffcfc; /* Dark gray text color */
  text-align: center; /* Center text alignment */
  display: flex; /* Use flexbox for alignment */
  justify-content: space-between; /* Spread out content to the left and right */
  align-items: center; /* Align items vertically */
}

.heading .btn-back {
  background-color: #4caf50; /* Green background for the button */
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.heading .btn-back:hover {
  background-color: #45a049; /* Darker green on hover */
}

.pagination-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
  font-family: Arial, sans-serif;
}

.pagination-btn {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #6c757d;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.pagination-btn:hover:not(:disabled),
.pagination-btn:focus {
  background-color: #f8f9fa;
  border-color: #bbb;
}

.pagination-btn.active {
  background-color: #343a40;
  color: #fff;
  border-color: #343a40;
}

.pagination-btn:disabled {
  color: #ccc;
  cursor: not-allowed;
  background-color: #f8f9fa;
}
